/* 1. Reseteo de estilos moderno (sin cambios) */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  /* Transición suave para los cambios de color */
  transition: background-color 0.3s, color 0.3s;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-text); /* Color de texto por defecto */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* 2. Definición de la paleta de colores y tipografías */
:root {
  /* TEMA CLARO (POR DEFECTO) */
  --color-primary: #9C5297;
  --color-primary-dark: #7E427A;
  --color-secondary: #FFC70F;
  --color-accent: #d179ca;
  --color-light: #FFFFFF;
  --color-dark: #333333;
  --color-bg: #F4F5F7;
  --color-text: #444444;
  --color-text-light: #666666;
  --color-border: #DDDDDD;
  --color-error: #e74c3c;
  --color-text-secondary: #FFFFFF;

  /* Tipografías */
  --font-main: "Comic Neue", sans-serif;
  --font-display: "Coiny", sans-serif;
  --font-handwritten: "Delicious Handrawn", sans-serif;

  
  --color-primary-transparent-10: rgba(156, 82, 151, 0.1);
  --color-primary-transparent-15: rgba(156, 82, 151, 0.15);
  --color-solved-bg: rgba(16, 185, 129, 0.1);
  --color-solved-text: #059669;
  --color-archived-bg: rgba(107, 114, 128, 0.1);
  --color-archived-text: #6b7280;
  
}

/* NUEVO: TEMA OSCURO */
[data-theme='dark'] {
  --color-primary: #9C5297; 
  --color-primary-dark: #6A1B9A;
  --color-secondary: #FFC70F; 
  --color-accent: #9370DB;
  --color-light: #2D2E30; 
  --color-dark: #FFFFFF; 
  --color-bg: #1E1F20; 
  --color-text: #E8EAED; 
  --color-text-secondary: #FFFFFF;
  --color-text-light: #A0A0A0; 
  --color-border: #444444; 
  --color-error: #FF5252;

  --color-primary-transparent-10: rgba(156, 82, 151, 0.15);
  --color-primary-transparent-15: rgba(156, 82, 151, 0.25);
  --color-solved-bg: rgba(16, 185, 129, 0.15);
  --color-solved-text: #34D399;
  --color-archived-bg: rgba(156, 163, 175, 0.15);
  --color-archived-text: #9CA3AF;
}


/* 3. Estilos base para la App */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}